@charset "utf-8";

body {
  background-color: #493A42;
}

#container {
  background-color: #F4E6ED;
  margin-left: auto;
  margin-right: auto;
  width: 66.5em;
  height: 46em;
}

#header {
  background-color: #F4E6ED;
  margin-left: auto;
  margin-right: auto;
  width: 66.5em;
  height: 148px;
}

#header-logo {
  padding-left: 2em;
  padding-top: 1em;
  width: 66.5em;
  position: absolute;
  top: 0;
}

#header-logo-text {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 4em;
}

a:link {
  text-decoration: none;
}

#header-logo-subtext {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  font-weight: 300;
  margin-left: 0.2em;
}

#login-button {
  float: right;
  margin-right: 4em;
  background-color: #145597;
  border: solid;
  border-color: white;
  border-radius: 0.2em;
  border-width: 1px;
  cursor: pointer;
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
  color: white;
  height: 4.3em;
  width: 10em;
  position: relative;
  top: -9em;
}

.nav-form {
  display: inline-block;
  margin-top: 1.7em;
}

#nav-header {
  background-color: #EBCFD7;
  float: none;
  margin-left: auto;
  margin-right: auto;
  width: 66.5em;
}

.nav-button {
  margin: .5em;
  margin-left: 1em;
  margin-right: 1em;
  background-color: #EBCFD7;
  border: solid;
  border-width: 0px;
  cursor: pointer;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  color: #145597;
  height: 2em;
  width: auto;
}

#body-text {
  text-align: center;
  float: left;
  margin-top: -5em;
}

.body-text-header {
  padding-top: 1em;
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 2em;
}

.body-text-text {
  color: black;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
  padding-left: 7em;
  padding-right: 7em;
  line-height: 1.3em;
}

#return-link:link {
  color: blue;
  text-decoration: none;
}

#return-link:visited {
  color: blue;
  text-decoration: none;
}
#return-text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  text-align: center;
}

#icons {
  margin-left: 1.8em;
}

#submit-button {
  background-color: #145597;
  border: solid;
  border-color: black;
  border-radius: 0.2em;
  border-width: 1px;
  cursor: pointer;
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
  color: white;
  height: 3em;
  width: 10em;
}

footer {
  background-color: #33292E;
  margin-left: auto;
  margin-right: auto;
  width: 66.5em;
}

#footer-text {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1em;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}