@charset "utf-8";

body {
  background-color: #493A42;
}

#container {
  background-color: #F4E6ED;
  margin-top: -2em;
  margin-left: auto;
  margin-right: auto;
  width: 66.5em;
  height: 74em;
}

#header {
  background-color: #F4E6ED;
  margin-top: -2em;
  margin-left: auto;
  margin-right: auto;
  width: 66.5em;
}

#header-logo {
  margin-top: -15em;
  margin-bottom: 10em;
  padding-left: 2em;
  width: 66.5em;
}

#header-logo-text {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 6em;
}

a:link {
  text-decoration: none;
}

#header-logo-subtext {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  font-weight: 300;
  margin-left: 0.2em;
}

#login-button {
  float: right;
  background-color: #145597;
  border: solid;
  border-color: white;
  border-radius: 0.2em;
  border-width: 1px;
  cursor: pointer;
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
  color: white;
  height: 4.3em;
  width: 10em;
  position: relative;
  top: -14em;
  right: 4em;
}

#signup-link:link {
  color: white;
  text-decoration: none;
}

#signup-link:visited {
  color: white;
  text-decoration: none;
}

#signup-link-text {
  float: right;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  font-weight: 300;
  position: relative;
  top: -7em;
  left: 6.7em;
}

#body-skills {
  text-align: center;
  float: left;
  margin-top: -5em;
  margin-left: auto;
  margin-right: auto;
  width: 66.5em;
}

.body-skills-header {
  padding-top: 1em;
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 2em;
}

.body-skills-text {
  color: black;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
}

#available-skills {
  float: left;
  border-style: solid;
  border-color: gray;
  border-width: 2px;
  background-color: white;
  margin-left: 8em;
  height: 30em;
  width: 22em;
  overflow-y: scroll;
}

#selected-skills {
  float: right;
  border-style: solid;
  border-color: gray;
  border-width: 2px;
  background-color: white;
  margin-right: 8em;
  height: 30em;
  width: 22em;
  overflow-y: scroll;
}

#features {
  margin: auto;
  width: 460px;
  font-size: 0.9em;
}
    
.connected, .sortable, .exclude, .handles {
  margin: auto;
  padding: 0;
  width: 310px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sortable.grid {
  overflow: hidden;
}

.connected li, .sortable li, .exclude li, .handles li {
  list-style: none;
  border: 1px solid #CCC;
  background: #F6F6F6;
  font-family: 'Lato', sans-serif;
  color: #1C94C4;
  margin: 5px;
  padding: 5px;
  height: 22px;
}

.handles span {
  cursor: move;
}

.sortable.grid li {
  line-height: 80px;
  float: left;
  width: 80px;
  height: 80px;
  text-align: center;
}
    
li.disabled {
  color: black;
  opacity: 0.5;
}

#connected {
  width: 440px;
  overflow: hidden;
  margin: auto;
}

li.sortable-placeholder {
  border: 1px dashed #CCC;
  background: none;
}

.box-header-text {
  background-color: #E6E6E6;
  color: black;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#submit-button {
  background-color: #145597;
  border: solid;
  border-color: black;
  border-radius: 0.2em;
  border-width: 1px;
  cursor: pointer;
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
  color: white;
  height: 3em;
  width: 10em;
  margin-top: 4em;
}

footer {
  background-color: #33292E;
  margin-left: auto;
  margin-right: auto;
  width: 66.5em;
}

#footer-text {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1em;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}