<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">

  <error-page>
    <location>/error.html</location>
  </error-page>

  <!-- SignInServlet -->
  <servlet>
    <servlet-name>SignInServlet</servlet-name>
    <servlet-class>SignInServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SignInServlet</servlet-name>
    <url-pattern>/SignInServlet</url-pattern>
  </servlet-mapping>

  <!-- SignInValidationServlet -->
  <servlet>
    <servlet-name>SignInValidationServlet</servlet-name>
    <servlet-class>SignInValidationServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SignInValidationServlet</servlet-name>
    <url-pattern>/SignInValidationServlet</url-pattern>
  </servlet-mapping>

  <!-- CandidateSignupServlet -->
  <servlet>
    <servlet-name>CandidateSignupServlet</servlet-name>
    <servlet-class>CandidateSignupServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>CandidateSignupServlet</servlet-name>
    <url-pattern>/CandidateSignupServlet</url-pattern>
  </servlet-mapping>

  <!-- CandidateSignup2Servlet -->
  <servlet>
    <servlet-name>CandidateSignup2Servlet</servlet-name>
    <servlet-class>CandidateSignup2Servlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>CandidateSignup2Servlet</servlet-name>
    <url-pattern>/CandidateSignup2Servlet</url-pattern>
  </servlet-mapping>

  <!-- CandidateWapServlet -->
  <servlet>
    <servlet-name>CandidateWapServlet</servlet-name>
    <servlet-class>CandidateWapServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>CandidateWapServlet</servlet-name>
    <url-pattern>/CandidateWapServlet</url-pattern>
  </servlet-mapping>

  <!-- OrganizationSignupServlet -->
  <servlet>
    <servlet-name>OrganizationSignupServlet</servlet-name>
    <servlet-class>OrganizationSignupServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>OrganizationSignupServlet</servlet-name>
    <url-pattern>/OrganizationSignupServlet</url-pattern>
  </servlet-mapping>

  <!-- OrganizationSignupHomeServlet -->
  <servlet>
    <servlet-name>OrganizationSignupHomeServlet</servlet-name>
    <servlet-class>OrganizationSignupHomeServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>OrganizationSignupHomeServlet</servlet-name>
    <url-pattern>/OrganizationSignupHomeServlet</url-pattern>
  </servlet-mapping>

  <!-- OrganizationHomeServlet -->
  <servlet>
    <servlet-name>OrganizationHomeServlet</servlet-name>
    <servlet-class>OrganizationHomeServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>OrganizationHomeServlet</servlet-name>
    <url-pattern>/OrganizationHomeServlet</url-pattern>
  </servlet-mapping>
  
  <!-- CandidateHomeServlet -->
  <servlet>
    <servlet-name>CandidateHomeServlet</servlet-name>
    <servlet-class>CandidateHomeServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>CandidateHomeServlet</servlet-name>
    <url-pattern>/CandidateHomeServlet</url-pattern>
  </servlet-mapping>

  <!-- OrganizationNewJobServlet -->
  <servlet>
    <servlet-name>OrganizationNewJobServlet</servlet-name>
    <servlet-class>OrganizationNewJobServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>OrganizationNewJobServlet</servlet-name>
    <url-pattern>/OrganizationNewJobServlet</url-pattern>
  </servlet-mapping>

  <!-- OrganizationNewJobSkillsServlet -->
  <servlet>
    <servlet-name>OrganizationNewJobSkillsServlet</servlet-name>
    <servlet-class>OrganizationNewJobSkillsServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>OrganizationNewJobSkillsServlet</servlet-name>
    <url-pattern>/OrganizationNewJobSkillsServlet</url-pattern>
  </servlet-mapping>

  <!-- SignOutServlet -->
  <servlet>
    <servlet-name>SignOutServlet</servlet-name>
    <servlet-class>SignOutServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SignOutServlet</servlet-name>
    <url-pattern>/SignOutServlet</url-pattern>
  </servlet-mapping>

<!-- OrganizationWapServlet-->
  <servlet>
    <servlet-name>OrganizationWapServlet</servlet-name>
    <servlet-class>OrganizationWapServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>OrganizationWapServlet</servlet-name>
    <url-pattern>/OrganizationWapServlet</url-pattern>
  </servlet-mapping>

<!-- OrganizationConfirmationServlet-->
  <servlet>
    <servlet-name>OrganizationConfirmationServlet</servlet-name>
    <servlet-class>OrganizationConfirmationServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>OrganizationConfirmationServlet</servlet-name>
    <url-pattern>/OrganizationConfirmationServlet</url-pattern>
  </servlet-mapping>
  
  <!-- EditProfileServlet-->
  <servlet>
    <servlet-name>EditProfileServlet</servlet-name>
    <servlet-class>EditProfileServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>EditProfileServlet</servlet-name>
    <url-pattern>/EditProfileServlet</url-pattern>
  </servlet-mapping>
  
  <!-- EditProfileConfirmationServlet-->
  <servlet>
    <servlet-name>EditProfileConfirmationServlet</servlet-name>
    <servlet-class>EditProfileConfirmationServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>EditProfileConfirmationServlet</servlet-name>
    <url-pattern>/EditProfileConfirmationServlet</url-pattern>
  </servlet-mapping>
  
  <!-- AddReferencesServlet-->
  <servlet>
    <servlet-name>AddReferencesServlet</servlet-name>
    <servlet-class>AddReferencesServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>AddReferencesServlet</servlet-name>
    <url-pattern>/AddReferencesServlet</url-pattern>
  </servlet-mapping>
  
  <!-- AddReferencesConfirmationServlet-->
  <servlet>
    <servlet-name>AddReferencesConfirmationServlet</servlet-name>
    <servlet-class>AddReferencesConfirmationServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>AddReferencesConfirmationServlet</servlet-name>
    <url-pattern>/AddReferencesConfirmationServlet</url-pattern>
  </servlet-mapping>
  
  <!-- ContactServlet-->
  <servlet>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>ContactServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/ContactServlet</url-pattern>
  </servlet-mapping>
  
</web-app>
